### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [222]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [223]:
#show data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [224]:
#calc number of players
playerdf = purchase_data['SN']
playerdata = playerdf.drop_duplicates()
playercount = playerdata.count()
pd.DataFrame({"Total Number of Players": [playercount]})

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [225]:
#count unique items via drop dupes
itemdf = purchase_data["Item ID"]
itemdf2 = itemdf.drop_duplicates()
itemcount = itemdf2.count()
#mean item prices
avgprice = purchase_data["Price"].mean()
totalPV = purchase_data["Price"].sum()
transcount = purchase_data["Price"].count()
#display data into table
purchasetable = pd.DataFrame({"Number  of Unique Items": [itemcount],
                              "Average Price": [avgprice],
                              "Total Revenue": [totalPV],
                              "Number of Transactions": [transcount]})
#show table
purchasetable

,Number of Unique Items,Average Price,Total Revenue,Number of Transactions
0,179,3.050987,2379.77,780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [226]:
#create demo df and drop dupes
genderdemodf1 = purchase_data.loc[:, ["Gender", "SN", "Age"]]
genderdemoclean = genderdemodf1.drop_duplicates()
#value count gender column and get percetage of total players
genderdemototals = genderdemoclean["Gender"].value_counts()
genderdempercents = genderdemototals / playercount
gendertable = pd.DataFrame({"Total Count": genderdemototals, "Percent of Players": genderdempercents})

gendertable['Percent of Players'] = gendertable['Percent of Players'].map("{:,.2%}".format)

gendertable

                       Total Count Percent of Players
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [227]:
#reshow table for reference
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [228]:
#do groupby on gender and calc the totals for total purchase value, average purchase price, gender purchase count
genderptotal = purchase_data.groupby(["Gender"]).sum()["Price"]
genderpaverage = purchase_data.groupby(["Gender"]).mean()["Price"]
genderpcount = purchase_data.groupby(["Gender"]).count()["Price"]
#calc avg purchase total per person per gender
avgindvpurchase = genderptotal / gendertable["Total Count"]
#make table
genderptable = pd.DataFrame({"Purchase Count": genderpcount, "Average Purchase Price": genderpaverage, "Total Purchase Revenue": genderptotal, "Avg Total Per Person": avgindvpurchase})
genderptable

,Purchase Count,Average Purchase Price,Total Purchase Revenue,Avg Total Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [229]:
#reshow demo table for reference
genderdemoclean.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [230]:
# make bins
agebins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
binheads = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [231]:
#dump gender demos by bin
genderdemoclean["Age Range"] = pd.cut(genderdemoclean["Age"], agebins, labels=binheads)

In [232]:
#start calcualtions
agetotals = genderdemoclean["Age Range"].value_counts()
agepercents = agetotals / playercount
#make table
agedemo = pd.DataFrame({"Total Count": agetotals, "Percent of Players": agepercents})
#make actual percentages and sort by bin index to get right order
agedemo["Percent of Players"] = agedemo['Percent of Players'].map("{:,.2%}".format)
agedemo = agedemo.sort_index()
agedemo

       Total Count Percent of Players
<10             17              2.95%
10-14           22              3.82%
15-19          107             18.58%
20-24          258             44.79%
25-29           77             13.37%
30-34           52              9.03%
35-39           31              5.38%
40+             12              2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [233]:
#dump purchase data into age bins
purchase_data["Age Range"]= pd.cut(purchase_data["Age"], agebins, labels=binheads)

In [234]:
#calculate via groupbys like gender above
agepcount = purchase_data.groupby(["Age Range"]).count()["Price"]
agepaverage = purchase_data.groupby(["Age Range"]).mean()["Price"]
ageptotal = purchase_data.groupby(["Age Range"]).sum()["Price"]
#calc avg purchase per person per age range
avgindvage = ageptotal / agedemo["Total Count"]
#make df
ageptable = pd.DataFrame({"Purchase Count": agepcount, "Average Purchase Price": agepaverage, "Total Purchase Revenue": ageptotal, "Average Purchase Per Person": avgindvage})
ageptable

,Purchase Count,Average Purchase Price,Total Purchase Revenue,Average Purchase Per Person
Age Range,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [235]:
#reshow purchase table for reference
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [236]:
#calc totals for indv users
playerpcount = purchase_data.groupby(["SN"]).count()["Price"]
playerpaverage = purchase_data.groupby(["SN"]).mean()["Price"]
playerptotal = purchase_data.groupby(["SN"]).sum()["Price"]
#maketable
playerptable = pd.DataFrame({"Purchase Count": playerpcount, "Average Purchase Price": playerpaverage, "Total Purchase Revenue": playerptotal})
playerptable_sorted = playerptable.sort_values("Total Purchase Revenue", ascending = False)
playerptable_sorted.head()

             Purchase Count  Average Purchase Price  Total Purchase Revenue
SN
Lisosia93                 5                3.792000                   18.96
Idastidru52               4                3.862500                   15.45
Chamjask73                3                4.610000                   13.83
Iral74                    4                3.405000                   13.62
Iskadarya95               3                4.366667                   13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [237]:
#get item data
itemdata = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
#Use groupby calcs for item data
itempcount = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"]
itempaverage = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
itemptotal = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"]
#make table
itemptable = pd.DataFrame({"Purchase Count": itempcount, "Purchase Price": itempaverage, "Total Purchase Revenue": itemptotal})
itemptable_sorted = itemptable.sort_values("Purchase Count", ascending = False)
itemptable_sorted

,,Purchase Count,Purchase Price,Total Purchase Revenue
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,1.75
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [238]:
#sort by TPR
itemptable_TPR = itemptable.sort_values("Total Purchase Revenue", ascending = False)
itemptable_TPR.head()

,,Purchase Count,Purchase Price,Total Purchase Revenue
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80